.course {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.course_title {
  text-align: center;
  margin-bottom: 3rem;
}

.course_title h1 {
  font-size: 3rem;
  color: black;
  margin-bottom: 1rem;
}

.course_title p {
  font-size: 1.6rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
}

.courseCard {
  padding: 2rem;
}
.courseCard > a {
  padding-bottom: 1rem;
  font-size: 1rem;
}

.cardSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  padding: 0 1rem;
}

.coursebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 160, 239);
  margin: 2rem auto;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  width: fit-content;
  border: none;
  transition: 0.5s all;
}

.coursebtn:hover {
  transform: scale(1.01);
}
